body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.page-header {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.main-described {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.flowers-pictures {
  display: flex;
  gap: 8px;
  margin-right: 15px;
  margin-left: 15px;
}
