.page-header {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-described {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.flowers-pictures {
  display: flex;
}
